<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<header class="header">
    <div class="container hero-schedule">
        <nav class="nav">
            <a href="/">
                <img
                        class="images"
                        src="/images/deposicinema-logo.jpg"
                        width="70"
                />
            </a>
            <ul class="navigation">
                <li class="navigation_title">
                    <a class="navigation_title" href="/schedule">
                        Schedule
                    </a>
                </li>
                <li class="navigation_title">
                    <a class="navigation_title" href="/performances">Movies</a>
                </li>
                <li class="navigation_title">
                    <a class="navigation_title" href="">Administration tools</a>
                </li>
            </ul>
            <ul class="navigation_link">
                <li class="navigation_title">
                    <a class="navigation_title" href="">Sing inSing in</a>
                </li>
                <li class="navigation_title vl">
                    <a class="navigation_title" href="">Join us</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div th:object="${performance}" class="section-title">
        <h1 th:text="${performance.performanceTitle}" class="title">performance title</h1>
    </div>
    <section th:object="${performance}" class="performance-section">
        <div class="performance">
            <img
                    th:src="@{${performance.performanceImgLink}}"
                    alt="Film View"
                    style="width: 300px"
            />
            <div>
                <ul>
                    <li th:text="${performance.performanceDescription}" class="distribution-description">
                        description
                    </li>
                </ul>
            </div>
        </div>
        <div class="distribution-title ">

            <div>
                <h3 class="distribution">Major actors</h3>
                <p th:text="${performance.performanceActors}" class="distribution-title">
                    Major actors name
                </p>
            </div>
            <div>
                <h3 class="distribution">Distribution</h3>
                <p th:utext="|${'from '+performance.performanceDistributionStart}<br/>${'to '+performance.performanceDistributionEnd}|"
                   class="distribution-title">distribution time</p>
            </div>
            <div>
                <h3 class="distribution">Duration</h3>
                <p th:text="${performance.performanceDurationTime}+' minutes'" class="distribution-title">duration
                    tme</p>
            </div>
            <div>
                <form action="/schedule" target="_blank">
                    <button class="button">Book ticket</button>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>
